@page "/stack/create"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper

@using workings.Shared

<h3>Create</h3>

<Form
    ButtonText="Create BlindStack"
    BlindStack="@_blindStack"
    OnValidSubmit="@CreateBlindStack">
</Form>

@code {
    BlindStack _blindStack = new();

    async Task CreateBlindStack()
    {
        await _httpClient.PostAsJsonAsync("api/blindStack", _blindStack);
        _uriHelper.NavigateTo("stack");
    }

}