@page "/blindprofile/create"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper

<h3>Create</h3>

<Form
    ButtonText="Create Blind Profile"
    BlindProfile="@_blindProfile"
    OnValidSubmit="@CreateBlindProfile">
</Form>

@code {
    BlindProfile _blindProfile = new();

    async Task CreateBlindProfile()
    {
        try
        {
            await _httpClient.PostAsJsonAsync("api/blindProfile", _blindProfile);
            _uriHelper.NavigateTo("blindProfile");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}