<div class="flex flex-row">
    <div class="flex-grow">
        <div class="">
            <p class="text-2xl">@BlindModel.BusinessClient.Name</p>
        </div>
        <div class="">
            <p class="text-xl italic">@(_customerReference)</p>
        </div>
    </div>
    <div class="flex-none">
        <PaperworkTopCalculations
            BlindRailing="@BlindModel.BlindRailing"
            BlindHeight="@BlindModel.Height"/>
    </div>
</div>

@code {

    [Parameter]
    public BlindModel BlindModel { get; set; }

    private string _customerReference;

    protected override void OnParametersSet()
    {
        _customerReference = GetCustomerReference();
        base.OnParametersSet();
    }

    private string GetCustomerReference()
    {
        if (BlindModel.Customer != null && BlindModel.Reference != null)
        {
            return $"{BlindModel.Customer}: {BlindModel.Reference}";
        }
        if (BlindModel.Customer != null) return BlindModel.Customer;
        return BlindModel.Reference ?? "";
    }

}