<table class="table-auto">
    <tr>
        <td class="text-sm text-right">Drop</td>
        <td class="col-span-2 text-right">@BlindHeight</td>
    </tr>
    <tr>
        <td class="text-sm text-right">@BlindRailing.Name</td>
        <td class="col-span-2 text-right">- @BlindRailing.Height</td>
    </tr>
    <tr class="text-right">
        <td/>
        <td class="border-t">@_foldDrop</td>
        <td class="border-t">cm</td>
    </tr>
</table>

@code {
    [Parameter]
    public double BlindHeight { get; set; }
    
    [Parameter]
    public BlindRailing BlindRailing { get; set; }

    private double _foldDrop;

    protected override void OnParametersSet()
    {
        _foldDrop = BlindHeight - BlindRailing.Height;
        base.OnParametersSet();
    }
}