<div class="mt-8 flex justify-center">
    <div class="border-t pb-2">
        <h3 class="mt-2">Disclaimer</h3>
        <ul class="list-disc list-inside text-xs">
            <li>Fabric cut length excludes any additional pattern repeats</li>
            <li>Number of widths may be greater if narrower fabric/linings are used</li>
        </ul>
    </div>
</div>

@code {

}