@page "/railing/create"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper

<h3>Create</h3>

<Form
    ButtonText="Create Railing"
    Railing="@_railing"
    OnValidSubmit="@CreateDeveloper">
</Form>

@code {
    Railing _railing = new();

    async Task CreateDeveloper()
    {
        await _httpClient.PostAsJsonAsync("api/railing", _railing);
        _uriHelper.NavigateTo("railing");
    }

}