@page "/railing/edit/{RailingId:int}"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper
@inject IJSRuntime _js

<h3>Edit</h3>

<Form
    ButtonText="Update"
    Railing="_railing"
    OnValidSubmit="@EditRailing">
</Form>

@code {
    [Parameter]
    public int RailingId { get; set; }

    Railing _railing = new();

    protected override async Task OnParametersSetAsync()
    {
        _railing = await _httpClient.GetFromJsonAsync<Railing>(
            $"api/railing/{RailingId}"
        );
    }

    async Task EditRailing()
    {
        await _httpClient.PutAsJsonAsync("api/railing", _railing);
        await _js.InvokeVoidAsync("alert", $"Updated Successfully!");
        _uriHelper.NavigateTo("railing");
    }
}