@page "/railing"

@inject HttpClient _httpClient
@inject IJSRuntime _js

<h3>Railings</h3>
<small>Add as many Railings as you wish.</small>
<div class="form-group">
    <a class="btn btn-success" href="railing/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (Railings == null)
{
    <text>Loading...</text>
}
else if (Railings.Length == 0)
{
    <text>Add Railings to view them all here.</text>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var railing in Railings)
        {
            <tr>
                <td>@railing.Id</td>
                <td>@railing.Name</td>
                <td>
                    <a class="btn btn-success" href="railing/edit/@railing.Id">Edit</a>
                    <button class="btn btn-danger" @onclick="@(() => Delete(railing.Id))">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    Railing[] Railings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Railings = await _httpClient.GetFromJsonAsync<Railing[]>("api/railing");
    }

    async Task Delete(int railingId)
    {
        var railing = Railings.First(x => x.Id == railingId);
        var confirmDelete = await _js.InvokeAsync<bool>(
            "confirm",
            $"Do you want to delete {railing.Name}'s ({railing.Id}) Record?"
            );
        
        if (confirmDelete)
        {
            await _httpClient.DeleteAsync($"api/railing/{railingId}");
            await OnInitializedAsync();
        }
    }

}