<EditForm Model="@Railing" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name</label>
        <div>
            <InputText @bind-Value="@Railing.Name" />
            <ValidationMessage For="@(() => Railing.Name)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] 
    public Railing Railing { get; set; }
    
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}