@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@using Workings.Client.Components.Drawing;
@using Workings.Client.Components.Paperwork;

@attribute [Authorize]

@inject HttpClient _httpClient

<h3>Blind Paperwork</h3>
@* Aspect ratio of an A4 page, applies to one direct child only *@
<div class="aspect-w-3 aspect-h-4 border">
    <div class="m-2 p-2 flex flex-col flex-nowrap">
        <div class="flex-none">
            <PaperworkDetails BlindModel="@BlindModel"/>
        </div>
        <div class="flex-grow">
            <Drawing BlindModel="@BlindModel"/>
        </div>
        <div class="flex-none">
            <PaperworkCutLengths BlindModel="@BlindModel"/>
        </div>
        <div class="flex-none">
            <h3>Disclaimer</h3>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public BlindModel BlindModel { get; set; }

}