<h3>BlindPage</h3>
<div class="aspect-w-3 aspect-h-4 border">
    <h3>Client ID: @BlindModel.BusinessClientId</h3>
    <h3>Customer: @BlindModel.Customer</h3>
    <h3>Reference: @BlindModel.Reference</h3>
    <h3>Blind Count: @BlindModel.BlindCount</h3>
</div>

@code {
    [Parameter]
    public BlindModel BlindModel { get; set; }
}