@using workings.Client.Components

<div class="grid grid-cols-8 gap-4">
    <div class="col-start-2 col-span-2">
        <BlindForm UpdateBlindModel="@UpdateBlindModel"/>
    </div>
    <div class="col-start-4 col-span-4">
        <BlindPage BlindModel="@_blindModel"/>
    </div>
</div>


@code {
    private BlindModel _blindModel = new();

    void UpdateBlindModel(BlindModel updatedBlindModel)
    {
        _blindModel = updatedBlindModel;
    }

}