@using workings.Client.Components

<h1>Workings</h1>

<BlindForm UpdateBlindModel="@UpdateBlindModel"/>

<BlindPage BlindModel="@_blindModel"/>

@code {
    private BlindModel _blindModel = new();

    void UpdateBlindModel(BlindModel updatedBlindModel)
    {
        _blindModel = updatedBlindModel;
    }

}