@using workings.Client.Components
@using System.Xml

<div class="grid grid-cols-8 gap-4">
    <div class="xl:col-start-2 col-span-3 xl:col-span-2">
        <BlindForm BlindModel="@_blindModel" OnSubmit="@UpdateBlindModel"/>
    </div>
    <div class="col-start-4 col-span-5 xl:col-span-4 object-contain">
        <BlindPaperwork BlindModel="@_validBlindModel"/>
    </div>
</div>


@code {
    private BlindModel _blindModel = new();
    private BlindModel _validBlindModel = new();

    void UpdateBlindModel(BlindModel updatedBlindModel)
    {
        Console.WriteLine("Updated blind model");
        _validBlindModel = updatedBlindModel;
    }

}