<div class="mt-8 max-w-md">
    <h3>BlindForm</h3>
    <div class="grid grid-cols-1 gap-6">
        <form>
            <FieldGroup Title="Details">
                <Field Title="Client" Type="@(Field.FieldType.Text)"/>
                <Field Title="Customer" Type="@(Field.FieldType.Text)"/>
                <Field Title="Reference" Type="@(Field.FieldType.Text)"/>
                <Field Title="No. Blinds" Type="@(Field.FieldType.Integer)"/>
            </FieldGroup>

            <FieldGroup Title="Dimensions">
                <Field Title="Width" Type="Field.FieldType.Decimal"/>
                <Field Title="Height" Type="Field.FieldType.Decimal"/>
                <Field Title="No. Widths" Type="Field.FieldType.Integer"/>
            </FieldGroup>

            <FieldGroup Title="Railing">
                <Field Title="Type" Type="Field.FieldType.Select"/>
                <Field Title="Depth" Type="Field.FieldType.Decimal"/>
            </FieldGroup>

            <FieldGroup Title="Stack">
                <Field Title="Type" Type="Field.FieldType.Select"/>
                <Field Title="Folds" Type="Field.FieldType.Range"/>
            </FieldGroup>

            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </form>
    </div>
</div>


@code {

}