@using Workings.Client.Components.Drawing

<h3>Drawing</h3>
<svg width="300" height="400">
    @for (var i = 0; i < BlindModel.Folds; i++)
    {
        <text>
            <text x="0" y="@(15 * (i + 1))" fill="red">I am fold (@i)</text>
        </text>
        
        <DrawingFold StrokeWidth="@_pathStrokeWidth" StartX="@(10)" StartY="@(10)" />
    }
</svg>

@code {

    [Parameter]
    public BlindModel BlindModel { get; set; }

    private int _pathStrokeWidth = 2;
}