@page "/businessclient/create"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper

<Form
    ButtonText="Create Business Client"
    BusinessClient="@_businessClient"
    OnValidSubmit="@CreateBusinessClient">
</Form>

@code {
    BusinessClient _businessClient = new();

    async Task CreateBusinessClient()
    {
        await _httpClient.PostAsJsonAsync("api/businessClient", _businessClient);
        _uriHelper.NavigateTo("businessClient");
    }

}