@page "/businessclient/create"
@inject HttpClient _http
@inject NavigationManager _uriHelper

<h3>Create</h3>

<Form
    ButtonText="Create Business Client"
    BusinessClient="@_businessClient"
    OnValidSubmit="@CreateDeveloper">
</Form>

@code {
    BusinessClient _businessClient = new();

    async Task CreateDeveloper()
    {
        await _http.PostAsJsonAsync("api/businessClient", _businessClient);
        _uriHelper.NavigateTo("businessClient");
    }

}