@page "/businessClient/edit/{Id:int}"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper
@inject IJSRuntime _js

<h3>Edit</h3>

<Form
    ButtonText="Update"
    BusinessClient="_businessClient"
    OnValidSubmit="@EditBusinessClient">
</Form>

@code {

    [Parameter]
    public int Id { get; set; }

    BusinessClient _businessClient = new();

    protected override async Task OnParametersSetAsync()
    {
        _businessClient = await _httpClient.GetFromJsonAsync<BusinessClient>(
            $"api/businessClient/{Id}"
            );
    }

    async Task EditBusinessClient()
    {
        await _httpClient.PutAsJsonAsync("api/businessClient", _businessClient);
        await _js.InvokeVoidAsync("alert", $"Updated Successfully!");
        _uriHelper.NavigateTo("businessClient");
    }

}