@page "/businessClient/edit/{BusinessClientId:int}"
@inject HttpClient _http
@inject NavigationManager _uriHelper
@inject IJSRuntime _js

<h3>Edit</h3>

<Form 
    ButtonText="Update" 
    BusinessClient="_businessClient"
    OnValidSubmit="@EditBusinessClient"
/>

@code {
    [Parameter]
    public int BusinessClientId { get; set; }

    BusinessClient _businessClient = new();

    protected override async Task OnParametersSetAsync()
    {
        _businessClient = await _http.GetFromJsonAsync<BusinessClient>(
            $"api/businessClient/{BusinessClientId}"
        );
    }

    async Task EditBusinessClient()
    {
        await _http.PutAsJsonAsync("api/businessClient", _businessClient);
        await _js.InvokeVoidAsync("alert", $"Updated Successfully!");
        _uriHelper.NavigateTo("businessClient");
    }
}